<!DOCTYPE html>
<html>
	<head>
		{{page "head"}}
		<script>
			$(document).ready( function(){
				{{range index .Script "board"}}
					{{.}}
				{{end}}
			});
		</script>
	</head>
	<body onload='setBackground("{{item "background" }}")' >
		<div class="container">
			<div class="row"> 
				<div class="col-xs-2 dfn strong panel"></div>
				<div class="col-xs-10">{{page "banner"}}</div>
			</div>
			<div class="row">
				<div class="col-xs-2">
					{{menu "nav"}}
				</div>
				<div class="col-xs-10">
					<svg xmlns="http://www.w3.org/2000/svg" height="720" width="960">
						{{range index .Data "triChessBoard"}}
							{{.}}
						{{end}}
						{{range index .Data "piece"}}
							{{.}}
						{{end}}
					</svg>
				</div>
			</div>
		</div>
	</body>
</html>