		<meta charset="utf-8" />
		<title>{{.Title}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="css/chess.css" rel="stylesheet">
		<link href="css/bootstrap-responsive.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.css">

		<script src="../js/bpgdec8a.js"></script>
		<script src="http://code.jquery.com/jquery.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>
		<script> "use strict";
function setBackground(filename, x, y){
	if (filename.indexOf("bpg") == filename.length - 3) {
		var canvas = document.createElement("canvas");
		canvas.style.visibility = "hidden";
		canvas.width = parseInt(x);
		canvas.height = parseInt(y);
		canvas.style.opacity = "0.0";
		canvas.style.overflow = "hidden";
		canvas.style.transition = "background 4.5s linear";
		document.body.appendChild(canvas);
		var ctx = canvas.getContext("2d");
		var img = new BPGDecoder(ctx);
		img.onload = function() {
			ctx.putImageData(this.imageData, 0, 0);
			document.body.style.background = "url('" + canvas.toDataURL("image/png") + "')";
		};
	  	img.load(filename);
	} else {
		document.body.style.background = filename;
	}
}
        </script>